.info {
    background-color: #003237;
    color: #fcfaf7;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    height: 50px;
}

.info:hover {
    color: #68e0af;
    transition: 0.5s;
}

.barranavegacion {
    background-color:#68e0af;
    color: #003237;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    transition: 0.5s;

}
 .barranavegacion:hover{
    color: #fcfaf7;
    transition: 0.3s;

 }

 .hero {
    background-image: url(/images/img1.jpg);
    background-size:cover;
    background-position-y: center ;
    height: 600px;
    color: #fcfaf7;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
 }



#boton-contact{
    
    background-color: #003237;
    color: #68e0af;
    border-color: #68e0af;
    font-weight: 600;
}

#boton-contact:hover{
    color: #003237;
    background-color: #68e0af;
    border-color: #003237;
    transition: 0.5s;
    transform: scale(1.1);
    font-weight: 600;
}

.title-services{
    color:#fcfaf7;
    font-family: 'Montserrat', sans-serif;
    text-decoration:underline #68e0af 3px;
    margin: 20px;
}


.p-section-1{
    margin: 50px 50px;
}

.lista-style {
    color: #fcfaf7;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 0 20px;
}

.item-lista:hover {
    color: #68e0af;
    transition: 0.3s;
    transform: scale(1.1);
}

.boton-presupuesto{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #003237;
    border-color: #68e0af;
    color: #68e0af;
}

.boton-presupuesto:hover {
    background-color: #68e0af;
    color: #003237;
    border-color: #003237;
    transition: 1s;
    transform: scale(1.1);
}

.saltodelinea {
    color: #fcfaf7;
}
#link-lista{
    color: #68e0af;
}


.formulario{
    color: #68e0af;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 20px 0 40px;

}

.input-formulario {
    color: #003237;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #fcfaf7;
    resize: none;

}

.input-formulario-textarea{
    height: 38px;
}

.boton-enviar {
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #003237;
    border-color: #68e0af;
    color: #68e0af;

}

.boton-enviar:hover {
    background-color: #68e0af;
    color: #003237;
    border-color: #003237;
    transition: 0.5s;
    transform: scale(1.1);
}

.link-footer{
    color: #fcfaf7;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.link-footer:hover {
    color: #68e0af;
    transition: 0.5s;
    transform: scale(1.1);
}

.section-sobrenosotros{
    background-image: url(/images/img2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 400px;
}

.title-section-sobre-nosotros{
    color:#fcfaf7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-decoration:underline #68e0af 3px;
    margin: 80px 20px;

}

.p-section-sobre-nosotros {
    color:#fcfaf7;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.testimonios {
    color: #fcfaf7;
    font-size: 30px;
}

.testimonios2 {
    color: #68e0af;
}

.tramitesfrecuentes {
    color: #fcfaf7;
    font-family: 'Montserrat' , 'san-serif';
    font-size: 30px;
    font-weight: 600;
}

.footer-fin{
    padding: 50px;
    background-color: #003237;
}